# requirements.txt
# Python-Abhängigkeiten für Ansible, Collections und Linting

# Vollständiges Ansible-Paket (inkl. CLI und YAML-Parser)
ansible-core==2.19.3

# Für statische Analyse und Best Practices
ansible-lint==25.9.2

# Benötigt von der hetzner.hcloud Collection
hcloud

# Benötigt von der community.docker Collection
docker

# Benötigt für die Interaktion mit GitLab-APIs
python-gitlab

# JSON Parsing Bibliothek, benötigt von einigen Ansible Modulen
jmespath